div {
    text-align: center;
}
ul {
	text-align: left;
}
h1 {
	font-size: 4em;
	margin: 0.67em 0;
}

/*.ui-widget-content {
	color: red;
}*/

  #feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }

/*.ui-widget-content {
            background: #cedc98;
            border: 1px solid #DDDDDD;
            color: #333333;
         }*/